<!DOCTYPE html>
<html lang="en">

    <!-- Head Partial -->
    <%- include('../partials/head/_head') %> 

<body>
        <!-- Nav Partial -->
    <%- include('../partials/navbar/_navbar') %>

    <section class="hero is-small is-warning">
        <h1 class="title is-1">
            Weebs R Us - Psychological
        </h1>
    </section>

    <a href="/comment"><button>Comment Index</button></a>
    
    <section id="video">
        <% videos.forEach(allVideo => { %>
            <ul class="video_list">
                <li>
                    <b>Title:</b>
                    <%= allVideo.title %>
                </li>
                <li>
                    <a href="/video/<%= allVideo.id %>">
                        <img 
                        src="<%= allVideo.videoImage %>"
                        alt="video image"
                        width="200"
                        height="100"/>
                    </a>
                <li>
                    <b>Description:</b> <%= allVideo.description %>
                </li>
                <li>
                    <b>Genre:</b> <%= allVideo.genre %>
                </li>
            </ul>
        <% }); %> 
        </section>


</body>
</html>