
<!DOCTYPE html>
<html lang="en">

    <!-- Head Partial -->
    <%- include('../partials/head/_head') %> 

<body>
    
    <h1 class='title'>
        Weebs R Us - Show Page
    </h1>

    <a href="/video"><button>Video Index</button></a>
    <a href="/comment"><button>Comment Index</button></a>

    <div id="show_page">
    <section id="show_video">
            <ul class="show_list">
                <li>
                    <b>Title:</b>
                    <%= video.title %>
                </li>
                <li>
                    <b>ID:</b>
                    <%= video.id %>
                </li>
                <li>
                    <b>Image:</b> <%= video.videoImage %>
                </li>
                <li>
                    <b>Description:</b> <%= video.description %>
                </li>
                <li>
                    <b>Genre:</b> <%= video.genre %>
                </li>
                <li>
                    <div id="show_video">
                        <iframe 
                        width="1000" 
                        height="700"
                        src="<%= video.videoLink %>">
                        </iframe>
                    </div>
                </li>
                <li>
                    <form action="/video/<%=video.id %>?_method=PUT" method="POST">
                        <div>
                            <label for="recommendation">Would you recommend?</label>
                                <select name="isRecommended" id="recommendation_form">
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                                <input type="submit" value="Submit">
                        </div>
                    </form>
                </li>
            </ul>
    </section>
    
    <section class="comment_form">
        <form action="/comment?redirect=video%2F<%= video._id %> " method="POST">
            <div>
                <label for="username_comment">Username</label>
                <input 
                type="text" 
                name="username" 
                placeholder="Username"
                >
            </div>

            <div>
                <label for="comment_content">Content</label>
                <input 
                type="text" 
                name="content" 
                placeholder="Have a comment?"
                >
            </div>

            <!-- Here is our hidden input to provide the product id -->
            <input 
            type="hidden"
            name="video"
            value="<%= video._id %>"/>

            <div>
                <button>Submit</button>
            </div>
        </form>
    </section>

    <section id="comment">
        <% comments.forEach(allComment => { %>
            <ul class="comment_list">
                <li>
                    <b>Username:</b> <%= allComment.username %> 
                </li>
                <li>
                    <b>Content:</b> <%= allComment.content %>
                    <small>
                    <%= new Date(allComment.createdAt).toLocaleString() %>
                    </small> 
                </li>
            </ul>

            <a href="/comment/<%= allComment.id %>/edit">
                <button>Edit</button>   
            </a>
            
            <div id="delete_button">
                <form action="/comment/<%= allComment.id %>?_method=DELETE" method="POST">
                    <button>Delete</button>
                </form>
            </div>
            
        <% }) %>
    </section>
    
    </div>
</body>
</html>